In [1]:
import pandas as pd
import numpy as np
import csv
import os
import zstandard

# data: Nasdaq TotalView-ITCH

In [2]:
all_data = pd.read_csv("xnas-itch-20241015.mbo.csv.zst")
print(len(all_data))

96538174

In [3]:
all_data.head()

,ts_recv,ts_event,rtype,publisher_id,instrument_id,action,side,price,size,channel_id,order_id,flags,ts_in_delta,sequence,symbol
0,2024-10-15T07:05:37.492151545Z,2024-10-15T07:05:37.491984996Z,160,2,38,R,N,NaN,0,0,0,8,0,0,AAPL
1,2024-10-15T07:05:37.492326394Z,2024-10-15T07:05:37.492160041Z,160,2,54,R,N,NaN,0,0,0,8,0,0,ABBV
2,2024-10-15T07:05:37.492771627Z,2024-10-15T07:05:37.492605093Z,160,2,86,R,N,NaN,0,0,0,8,0,0,ABT
3,2024-10-15T07:05:37.493527998Z,2024-10-15T07:05:37.493361823Z,160,2,168,R,N,NaN,0,0,0,8,0,0,ACN
4,2024-10-15T07:05:37.494476115Z,2024-10-15T07:05:37.494309484Z,160,2,226,R,N,NaN,0,0,0,8,0,0,ADBE

In [4]:
all_data.columns

Index(['ts_recv', 'ts_event', 'rtype', 'publisher_id', 'instrument_id',
       'action', 'side', 'price', 'size', 'channel_id', 'order_id', 'flags',
       'ts_in_delta', 'sequence', 'symbol'],
      dtype='object')

In [5]:
all_data.describe()

,rtype,publisher_id,instrument_id,price,size,channel_id,order_id,flags,ts_in_delta,sequence
count,96538174.0,96538174.0,9.653817e+07,9.653812e+07,9.653817e+07,96538174.0,9.653817e+07,9.653817e+07,9.653817e+07,9.653817e+07
mean,160.0,2.0,7.765844e+03,2.062968e+02,9.149287e+01,0.0,4.486379e+08,7.026012e+01,1.682105e+05,3.508281e+08
std,0.0,0.0,6.070971e+03,4.006564e+02,2.262157e+03,0.0,2.758354e+08,6.464096e+01,3.883706e+04,1.914023e+08
min,160.0,2.0,3.800000e+01,1.000000e-04,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,160.0,2.0,8.530000e+02,1.496700e+02,6.000000e+01,0.0,2.225975e+08,0.000000e+00,1.659230e+05,1.866496e+08
50%,160.0,2.0,7.152000e+03,1.740000e+02,1.000000e+02,0.0,4.295145e+08,1.280000e+02,1.669550e+05,3.513972e+08
75%,160.0,2.0,1.166700e+04,2.201000e+02,1.000000e+02,0.0,6.495330e+08,1.300000e+02,1.682560e+05,5.129253e+08
max,160.0,2.0,1.770900e+04,1.999990e+05,1.858729e+07,0.0,1.167278e+09,1.300000e+02,7.159962e+07,6.902027e+08

In [6]:
all_data["ts_event"].min()

'2024-10-15T07:05:37.491984996Z'

In [7]:
all_data["ts_event"].max()

'2024-10-15T23:59:59.934554221Z'

In [ ]:
all_data["symbol"].unique()
# array(['JNJ', 'AMD', 'META', 'AMGN', 'GOOG', 'COST', 'TSLA', 'QCOM',
#        'NFLX', 'UNH', 'MSFT', 'JPM', 'XOM', 'AMZN', 'MCD', 'BRK.B',
#        'AAPL', 'HD', 'PG', 'CAT', 'AVGO', 'NVDA', 'NOW', 'LIN', 'GOOGL',
#        'CSCO', 'DHR', 'TMO', 'UBER', 'V', 'PEP', 'IBM', 'PM', 'LLY',
#        'AMAT', 'VZ', 'WFC', 'ABBV', 'ADBE', 'CVX', 'ORCL', 'TXN', 'MA',
#        'BAC', 'MRK', 'ABT', 'CRM', 'KO', 'WMT'], dtype=object)

# get data from specific time frames

In [21]:
# Assuming your ts_event column is in string format, first convert it to datetime
all_data['ts_event_datetime'] = pd.to_datetime(all_data['ts_event'])

# Define the start and end times with the UTC timezone
start_time = pd.Timestamp('2024-10-15 14:00:00', tz='UTC')
end_time = pd.Timestamp('2024-10-15 14:15:00', tz='UTC')

# Filter the data between 10am and 11am
subdata = all_data[(all_data['ts_event_datetime'] >= start_time) & (all_data['ts_event_datetime'] < end_time)]

# Display the filtered data
print(len(subdata))

4795490

In [22]:
subdata.to_csv("xnas-itch-20241015_14-00--14-15.csv", index=False)